:host {
  display: contents;
}

.loading-overlay {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100dvh;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgb(20 20 20 / 58%);
  z-index: 9999;
  pointer-events: all;
}

.loading-overlay--visible {
  display: flex;
}

.loading-pokeball {
  animation: loader-pokeball-spin 1s linear infinite;
}

@keyframes loader-pokeball-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
