---
import Layout from '../layouts/Layout.astro';
import type { PokemonListResponse } from '../interface/pokemon-list.reponse';

const resp = await fetch('https://pokeapi.co/api/v2/pokemon/');

const data = (await resp.json()) as PokemonListResponse;
console.log(data);

const title = 'Index';
---

<Layout title={title}>
	<h1 class="text-3xl">Listado de pokemons</h1>
	<hr>

	<section
		arial-label="Listado de pokemons"
		class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3"
	>
	{
		data.results.map((pokemon) => (
			<li>{pokemon.name}</li>
		))
	}
	</section>
</Layout>
